# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Pyre type checker
.pyre/

# IDEs
.idea/
.vscode/

# Ruff
.ruff_cache/

# Local files (dbs, models, json, etc.)
*.db
*.onnx
*.json
*.joblib

# local envs
.env/# ONNX models

# Pytest
.pytest_cache/
