services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: museum_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    entrypoint: ["litestar", "run", "--app", "api_app:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    environment:
      - DB_URL=postgresql+asyncpg://postgres:password@db:5432/museum_db
    depends_on:
      - db

  api-tester:
    build: ./api_tester
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api

volumes:
  postgres_data:
